.canvas {
  border: 1px solid black;
}

input::file-selector-button {
  padding: 8px 16px;
  border: 2px solid #adb9f1;
  border-radius: 8px;
  background-color: #e2e7ff;
  color: #6f7bb4;
  font-size: 16px;
  font-weight: 500;
}

.btn-container {
  width: 100%;
  display: flex;
  gap: 8px;
}

.btn-container button {
  width: 50%;
  padding: 8px 0;
  border: 2px solid #adb9f1;
  border-radius: 8px;
  background-color: #e2e7ff;
  color: #6f7bb4;
  font-size: 16px;
  font-weight: 600;
}